*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #444;
}
nav{
    height: 95px;
    background-color: rgb(7, 7, 44);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #fff;
}

nav h2{
    color: #fff;
    font-size: 1.5rem;
}

nav button{
    background-color: #07dabd;
    color: #000;
    font-size: 1.2rem;
    color: #fff;
    padding: 15px 20px;
    border: none;
}

nav button:hover{
    background-color: #fff;
    color: #07dabd;
}

#container{
    height: 100vh;
    background-color:rgb(7, 7, 44);
}

#container aside{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width: 30%;
    height: 100%;
    background-color: rgb(7, 7, 44);
    border-right: 1px solid #fff;
}
#container aside .project-wrapper{
    height: 60px;
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
}
#container aside .project-wrapper #project{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #07dabd;
    font-size: 1.7rem;
    width: 60%;
    padding: 10px 20px;
}
#container aside .project-wrapper #project:hover{
    background-color: #07dabd;
    color: #fff;
}
#container aside .project-wrapper button{
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    width: 30%;
    font-size: 20px;
    font-size: 1.5rem;
}

#container #add-todo{
    background-color: #07dabd;
    color: #fff;
    font-size: 1.2rem;
    padding: 15px 20px;
    border: none;
    margin: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: all 0.3s ease-in-out;
}
#container #add-todo:hover{
    background-color: #fff;
    color: #07dabd;
}

/* todo form */
#todo-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    display: none;
    min-height: 50vh;
    width: 30vw;
    align-items: center;
}

#todo-form input{
    padding: 20px 15px;
    border: 1px solid #ccc;
    width: 350px;
}
#todo-form select{
    padding: 20px 15px;
    border: 1px solid #ccc;
    width: 350px;
    margin: 10px auto;
}
#todo-form #form-btns{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#todo-form #form-btns #submit-todo{
    background-color: #07dabd;
    color: #fff;
    font-size: 1.2rem;
    padding: 15px 20px;
    border: none;
    margin: 20px;
    height: 75px;
    width: 200px;
}
#todo-form #form-btns #submit-todo:hover{
    background-color: #fff;
    color: #07dabd;
}
#todo-form #form-btns #close-todo-form{
    background-color: red;
    color: #fff;
    font-size: 1.2rem;
    padding: 15px 20px;
    border: none;
    margin: 20px;
    height: 75px;
    width: 200px;
}

#project-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    display: none;
    align-items: center;
    min-height: 30vh;
    width: 30vw;
    align-items: center;
}
#project-modal input{
    padding: 20px 15px;
    border: 1px solid #ccc;
    width: 350px;
}
#project-modal .modal-btns{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#project-modal #add-project-modal-btn{
    background-color: #ccc;
    font-size: 1.2rem;
    padding: 15px 20px;
    border: none;
    margin: 20px;
    min-height: 45px;
    width: 150px;
    text-align: center;
}
#project-modal #add-project-modal-btn:hover{
    background-color: #07dabd;
    color: #fff;
}
#project-modal #close-project-modal-btn{
    background-color: red;
    color: #fff;
    font-size: 1.2rem;
    padding: 15px 20px;
    border: none;
    margin: 20px;
    min-height: 45px;
    width: 150px;
    text-align: center;
}